
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #070200, rgb(76, 6, 206), #080cd5, #be0404);
      background-size: 400% 400%;
      animation: gradient 20s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

  
.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .card{
    width: 60rem;
    margin: auto;
    background: rgb(12, 9, 9);
    color: rgb(250, 249, 249);
    position: center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px;
    display: flex;
    flex-direction: row;
}

.main .leftside { 
    background: black;
    width: 25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem ;
}

.product{
    object-fit: cover;
    width: 20rem;
    height: 20em;
    border-radius:100%;
}

