@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    justify-content: center;
    align-items: center;
    padding: 0.8em;

}



body {
    background-image: url(../images/Sun.gif);
    background-size: cover;
    background-position: center;
    width: auto;
    background-repeat: none;
    font-family: monospace, Arial, Helvetica, sans-serif;

}