@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    background-image: url(../images/infiniteloop.gif);
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: none;  
    font-family: monospace, Arial, Helvetica, sans-serif; 
}
 